/*

Comila Template

http://www.templatemo.com/tm-490-comila

*/
/* 
    NavBar
*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* .formcontainer2 {
      padding: 20px;
      max-width: 800px;
      margin: 40px auto;
      background: #1b1b1b;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    } */
.form1{
  background:linear-gradient(rgb(255, 206, 10), rgb(255, 128, 1));
}
.get {
  color: black;
}
.get2 {
  color: rgb(255, 254, 254);
}
.getn {
  color: rgb(255, 254, 254);
}

* Contact Us Style */ #contact {
  padding: 50px 0;
  /* background: #fff; */
}

.formcontainer {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title .get {
  font-size: 32px;
  margin-bottom: 10px;
  color: #ffcc00;
}

.section-title p {
  font-size: 16px;
  color: #555;
}

/* Improve readability and organization */
.contact-form {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 30px black;
  border: 1px solid black; /* Added black border */
  background: #ffcc00f1;
}

.contact-form .row {
  display: flex;
  flex-wrap: wrap;
}

.contact-form .rad {
  width: 100%;
  margin-bottom: 15px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  background: #ffffff;
  color: #000; /* Changed from rgb(0, 0, 0) to hex for consistency */
}

/* .contact-form .form-control:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
} */
.input-container {
  position: relative;
  width: 100%;
}

.input-container i {
  position: absolute;
  left: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #888; /* Adjust the color as needed */
  font-size: 1.5rem;
}

.input-container input {
  padding-left: 30px; /* Adjust this value to make space for the icon */
  width: 100%;
}

/* .contact-form .submit {
  background: #2c18df;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 220px;
}

.contact-form .submit:hover {
  background: #003ae6;
} */

/* Updated placeholder text color for consistency */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Navbar Style */

.flex {
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: auto;
  /* Optional: space between logo and right edge */
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: url("images/background.jpg") no-repeat center center/cover;
  backdrop-filter: blur(4px);
  padding-top: 80px;
  /* to avoid overlap with navbar */
}

.home .container {
  max-width: 800px;
}

.home-thumb h1 {
  font-size: 60px;
  color: #d8aa03;
}

.home-thumb h3 {
  margin: 20px 0;
  font-size: 24px;
  color: whitesmoke;
}

.home-thumb a.btn {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.home-thumb a.btn img {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  border-radius: 5px;
}

.btn-default {
  background-color: #0c0b0b;
  border: none;
  display: flex;
  justify-items: center;
  width: fit-content;
  border: 2px solid red;
}

.btn-default:hover {
  background-color: transparent;
}
.testimonial-author img {
  display: block;
  margin: 0 auto;
}

.preloader {
  display: none;
  /* Hide preloader by default */
  /* Add preloader styles here if needed */
}
/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 120px;
  right: 45px;
  display: none; /* Hidden by default */
  background-color: #3a63e4;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  font-size: 18px;
  text-decoration: none;
  z-index: 1000;
  transition: opacity 0.3s ease;
  line-height: 10px;
}

.back-to-top:hover {
  background-color: #484848;
  color: #ffffff;
  text-decoration: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  display: inline-flex;
}

.logos-container {
  display: flex;
  top: 20px;
}
.logo-text {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: yellow;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
  }

  nav ul {
    position: absolute;
    top: 80px;
    right: -100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .logo-container {
    display: flex;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: white;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: white;
  color: black;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/* @color-primary: #33bb63;
@color-gray: #808080;
@color-lightgray: #BBBBBB;
@color-white: #FFFFFF;
@color-bg: #f5f5f5;
@gutter: 30px;
@form-width: 300px;
@label-height: 20px;
@input-margin: @gutter / 4; */

/* Styles for small screens */
.containerr {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  background-color: #fff;
}

.faqq {
  background-color: #f1c11a;
  padding: 1rem;
}

h1 {
  color: #0a0a0a;
  margin-top: 10px;
  font-size: 1.5rem;
}

h2 {
  color: #0a0a0a;
  font-size: 1.2rem;
}

/* Accordion Container */
.containerr {
  background-image: linear-gradient(to right, #f3f1f2 0%, #fee140 100%);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.accordion-content,.accordion button{
  background-image: linear-gradient(to right, #f3f1f2 0%, #fee140 100%);
}

.accordion .accordion-item {
  border-bottom: 2px solid black;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  transition: border-bottom 0.3s ease;
}

/* Active Accordion Item */
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 3px solid black;
  background-image: linear-gradient(to right, #f3f1f2 0%, #fee140 100%);
}

/* Accordion Button */
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover and Focus States */
.accordion button:hover,
.accordion button:focus {
  color: #007BFF;
  background-image: linear-gradient(to right, #f3f1f2 0%, #efe18f 100%);
  cursor: pointer;
}

/* Accordion Title */
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-weight: 700;
  font-size: 1.1rem;
}

/* Icon Styling */
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 95%;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

/* Icon Before (Horizontal Line) */
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 10px;
  height: 2px;
  background: currentColor;
  transform: translate(-50%, -50%);
}

/* Icon After (Vertical Line) */
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  background: currentColor;
  transform: translate(-50%, -50%);
}

.accordion button[aria-expanded="true"] .icon {
  transform: translateY(-50%) rotate(180deg);
  
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 20em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  background-color: #f9f9f9;
  padding: 0 1.5em;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.accordion .accordion-content p {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.5;
  color: black;
  margin: 20px 0;
}

.accordion button .icon::before,
.accordion button .icon::after {
  transition: background 0.3s ease;
}

.accordion button:hover .icon::before,
.accordion button:hover .icon::after {
  background: #007BFF;
}

.accordion button:focus .icon::before,
.accordion button:focus .icon::after {
  background: #0056b3;
}


/* Styles for larger screens */
@media (min-width: 768px) {
  .containerr {
    width: 60rem;
    padding: 2rem;
  }

  .faqq {
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .accordion button {
    font-size: 1.15rem;
  }

  .accordion button .accordion-title {
    font-size: 1.3rem;
  }

  .accordion .accordion-content p {
    font-size: 1.2rem;
  }
}

.fab:hover {
  color: yellow;
  /* Change this to the desired hover color */
}

a:hover .fab {
  color: yellow;
  /* Change this to the desired hover color */
}

.footer {
  padding: 2rem 1rem;
  background: black;
  position: relative;
  min-height: 350px;
  width: 100%;
}

.social_media:hover {
  color: yellow;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 0 2rem;
  
}
.company h1{
  font-size: 14px;
}
.social {
  display: flex;
  gap: 20px;
  font-size: x-large;
}
.row1 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.col1 {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.col1 .logo {
  width: 100px;
  margin-bottom: 25px;
}
.col1 h3 {
  color: yellow;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.col1 h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo h1 {
  font-size: 30px;
}
.title {
  margin-left: 25px;
}
.col1 h3:hover::after {
  width: 100%;
}
.col1 .social a i {
  color: rgb(255, 255, 255);
  margin-top: 2rem;
  margin-right: 20px;
  transition: 0.3s ease;
}
.col1 .social a i:hover {
  transform: scale(1.5);
  color: yellow;
}
.col1 .links {
  text-align: start;
}
.col1 .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col1 .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: rgb(255, 255, 0);
  transition: 0.5s ease;
  opacity: 0;
}
.col1 .links a:hover::before {
  opacity: 1;
}
.col1 .links a:hover {
  transform: translateX(-8px);
  color: yellow;
}
.col1 .contact-details {
  display: inline-flex;
  justify-content: space-between;
}
.col1 .contact-details i {
  margin-right: 10px;
}
.row2 .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem ;
}
.row2 .form form {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.row2 .form input {
  background-color: #1a1c20ff;
  color: white;
  /* margin-left: 50px; */
  border: 0;
  outline: none;
  /* padding: 14px 10px; */
  border-radius: 6px;
  cursor: pointer;
}
.form button {
    padding: 5px 20px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(251, 255, 0);
}

/********** Responsive Design ********/
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
  .row1{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .row1 .col1{
    align-items: center;
  }
  .col1 .links {
    text-align: center;
  }
  .row2 .form form {
    flex-direction: column;
    width: 100%;
  }
}
/* padding: 20px 0px;
background: black; */
/* } */

.social_media:hover {
  color: yellow;
  /* cursor: pointer; */
}

.footer_links li:hover {
  color: yellow;
  /* cursor: pointer; */
}
.copyright {
  margin-top: 30px;
  margin-left: 90px;
  text-align: center;
  color: #777;
  font-size: 1rem;
}

/* Dark mode styles */
.dark-mode-app .footer {
  background: #f0eded;
  color: #0f0f0f;
  /* Text color in dark mode */
}

.dark-mode-app .footer_title {
  color: #131212;
  /* Heading color in dark mode */
}

.dark-mode-app .footer_links li {
  color: #0a0a0a;
  /* Link color in dark mode */
}

.dark-mode-app .footer_links li:hover {
  color: #0078d4;
  /* Hover color in dark mode */
}

.dark-mode-app .social_media i:hover {
  color: #0078d4;
  /* Hover color in dark mode */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer_box {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.social_media {
  margin-top: 15px;
  text-align: center;
  font-size: 1.6rem;
}

.social_media i {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.social_media i:hover {
  color: #0078d4;
  /* cursor: pointer; */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logo h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer_title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Forum&family=Josefin+Sans:ital,wght@0,500;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  cursor: url("/images/cursor.png"), auto;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

h1,
h2,
h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #f1c11a;
}

h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

h3 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
}

strong {
  color: #f1c11a;
  font-weight: 700;
}

.service-title {
  color: #01080d;
  font-size: 60px;
  text-align: center;
  padding-bottom: 75px;
  font-weight: bolder;
}

.service-container {
  padding-left: 40px;
}

.card {
  width: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
  /* display: flex;
align-items: center;
justify-content: center; */
}

#services > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 0px 6px 6px #e9ecef;
  transform: scale(1.2) translateY(20px);
  -webkit-transform: scale(1.2) translateY(20px);
  -moz-transform: scale(1.2) translateY(20px);
  -ms-transform: scale(1.2) translateY(20px);
  -o-transform: scale(1.2) translateY(20px);
  background: linear-gradient(to top left, #edfc4890 30%, #f4d01e 20%);
}

.card-heading {
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: #f1c11a;
}

.s-cards {
  transition: all 0.3s ease;
}
.s-cards {
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-heading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-context {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
}

.card-context p {
  text-align: center;
}

.heading-hover {
  font-size: 20px;
  color: #fad729;
  font-weight: bolder;
}

.s-cards:hover .heading-hover {
  color: white;
}

.col-md-4 {
  transition: all 0.3s ease;
}

.pic-col {
  margin-left: 35%;
}

.col-md-4:hover {
  transform: scale(1.05);
}
#services,
#contact,
#feedback {
  /* background: #ffffff; */
}

#about,
#services,
#contact,
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h1 {
  padding-bottom: 10px;
}

.section-title {
  font-size: 36px;
}

#about .section-title {
  padding-bottom: 22px;
}

#contact .section-title {
  text-align: center;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
/* preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}

/* Navbar section */
.navbar {
  /* background: rgba(0, 0, 0, 0.7); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  border: none;
  transition: all 0.6s;
}
.navbar nav.sticky {
  height: 80px;
  background: linear-gradient(rgb(183, 123, 27), rgba(249, 177, 43, 0.818));
  color: white !important;
  /* border-bottom: 1.5px solid rgb(0, 0, 0); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 2px 2px rgb(78, 38, 17, 0.8);
  padding: 10px 0px;
}
.navbar nav ul li i {
  filter: invert(1);
}
.navbar nav.sticky ul li i {
  filter: invert(0);
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

.navbar .logo img {
  height: 50px;
  width: 50px;
  margin-top: -5px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s, background 0.3s;
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  transition: width 0.3s;
  z-index: -1;
}

.navbar ul li a:hover::before {
  width: 100%;
}

.navbar ul li a:hover {
  color: white;
}

.navbar ul li i {
  margin-right: 8px; /* Add spacing between icon and text */
  color: rgb(0, 0, 0); /* Set icon color to white */
}

.navbar .checkbut {
  display: none;
}

@media (max-width: 858px) {
  .navbar .logo img {
    display: none;
  }

  .navbar .checkbut {
    display: block;
    font-size: 30px;
    color: white;
    margin-right: 20px;
  }

  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
    flex-direction: column;
  }

  .navbar ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .navbar ul li a {
    font-size: 20px;
  }

  .navbar ul li a:hover,
  .navbar ul li a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
/* home section */
.home {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  color: #ffffff;
}

.home .home-thumb {
  text-align: center;
}

.home .btn {
  border: 3px solid #ffffff;
  border-radius: 40px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 1px;
  height: 55px;
  width: fit-content;
  margin-top: 42px;
  margin-right: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #ffffff;
}

.home .btn:hover {
  background: #f1c11a;
  color: black;
  border-color: transparent;
  transition: 0.8s;
}

.home .btn-success {
  background: #ffffff;
  color: #242424;
  border-color: transparent;
}

/* about section */

#about {
  padding: 4% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.main-img img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 50%;
}
.text {
  position: relative;
  width: 100%;
  height: fit-content;
  background: transparent;
}
.text:before {
  content: " ";
  position: absolute;
  padding: 4%;
  width: 100%;
  height: 100%;
  background: rgba(255, 242, 0, 0.2);
  border-radius: 20px;
}
.text > * {
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
}
.text h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text h2 {
  color: #f1c11a;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
}

.text p {
  max-width: 600px;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: justify;
}
.last-text {
  display: flex;
}
.text1 {
  margin-right: 60px;
}
.last-text h3 {
  color: #c8ba00;
  font-size: 60px;
  font-weight: 700;
}
.last-text h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 20px;
}

/* responsive design */
@media (max-width: 1385px) {
  #about {
    padding: 4% 10%;
    transition: 0.3s;
  }
  .main-img {
    width: 500px;
    height: auto;
    transition: 0.3s;
  }
}
@media (max-width: 1240px) {
  .text h2 {
    font-size: 30px;
    transition: 0.3s;
  }
}

@media (max-width: 1040px) {
  #about {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .main-img img {
    padding-top: 40px;
  }
}

.media-body-p {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.media-body-p1 {
  padding-bottom: 22px;
}

/* services section */
#services {
  background: #f1c11a;
}

#services .icon {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#services p {
  color: #333;
}

#services .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #7289da;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}
.btn img {
  height: 40px;
  border-radius: 50px;
  margin-left: 10px;
}

#services .btn {
  background-color: white;
  border: 3.8px solid #ffffff;
  border-radius: 40px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 62px;
  margin-right: 16px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 3px 6px 0px 0px rgba(0, 0, 0, 0.74);
  align-items: center;
  justify-content: center;
}

#services .btn:hover {
  background: black;
  color: white;
  border-color: transparent;
}

.service-cards {
  transition: all 0.3s ease;
}

.service-cards:hover {
  transform: translateY(-6px);
}

.heading-hover {
  font-size: 20px;
  color: #0082e6;
}

.service-cards:hover .heading-hover {
  color: white;
}

#contact .form-control:hover {
  border-color: #999;
  border: 2px solid #797979;
}

#contact input {
  height: 55px;
}
#contact input[type="submit"] {
  background: #242424;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;

  border-radius: 10px;
}

.icon1 {
  position: absolute;
  top: calc(42%);
  left: 4.2%;
  font-size: 30px;
  color: white;
}
.icon2 {
  position: absolute;
  top: calc(21%);
  left: 4.2%;
  font-size: 30px;
  color: white;
}

.submit {
  font-size: 100 px;
  font-weight: bold;
  letter-spacing: 2px;
}

#contact input[type="submit"]:hover {
  background: #f1c11a;
}

/* footer section  */
footer {
  text-align: center;
  background: #111112;
}

footer .copyright-text {
  padding-top: 10px;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ff6;
}

.svgcolor-light {
  position: relative;
  bottom: 104px;
}

.svgcolor-light > path {
  fill: white;
  stroke: white;
  stroke-width: 0;
}

.go-top:hover {
  background: #f1c11a;
  color: #ffffff;
}

/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background-color: #ffffff;
  color: #111112;
}

i {
  height: 50%;
}

#experience {
  background-color: #ffffff;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 50px 0px 0 0px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

.card1 {
  margin-bottom: 50px;
  background-color: #f1c11a;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin: 0 10px 0 10px;
  height: 100%;
}

.col-md-4 {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 7%;
}

.pic-col {
  width: 50%;
}

.img-fluid {
  border-radius: 50%;
  border: 5px solid rgb(23, 23, 23);
}

.card1:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.629);
}

#experience .card-text {
  color: #262626;
  font-weight: 400;
}

.card-body svg {
  color: #ffffff;
}

/* Basic styles for feedbackform */

/* Basic styles for form */
.formcontainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.contact-form {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.contact-form:hover {
  background-color: #f5f5f5;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px 0;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  color: #333; /* Text color */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #ababab;
}

::placeholder {
  color: #6e6e6e !important; /* Placeholder color */
}

/* Styles for rating stars */
.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  font-size: 30px; /* Reduced label size */
  color: #575757;
  cursor: pointer;
  transition: color 0.3s ease;
}

label:hover {
  color: green;
}

input[type="radio"]:checked + label {
  color: green;
}

.submit {
  background-color: #007bff;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.submit:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
/* Mobile Responsive */
@media (max-width: 980px) {
  h1 {
    font-size: 2.4rem;
  }

  #about .section-title {
    padding-bottom: 12px;
  }

  #services .col-md-4 {
    padding-bottom: 32px;
  }

  ul {
    text-align: center;
  }

  li {
    list-style: none;
    text-align: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  ul {
    text-align: center;
  }

  li {
    list-style: none;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #home {
    height: 100vh;
  }

  .modal-dialog .modal-content {
    padding: 50px 20px;
  }

  footer {
    text-align: center;
  }

  footer .col-sm-6 {
    padding-bottom: 32px;
  }

  .modal-dialog .close {
    font-size: 35px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  ul {
    text-align: center;
  }

  li {
    list-style: none;
    text-align: center;
  }
}

/* Testimonials section */
#testimonials {
  background-color: #f0eded;
  padding: 100px 0;
  text-align: center;
}

#testimonials .section-title {
  margin-bottom: 50px;
  text-align: center;
  color: #111112;
  font-weight: 800;
  font-size: 60px;
}

.testimonial-box {
  background-color: #ffff;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.testimonial-content {
  margin-bottom: 10px;
  font: bold;
  text-align: center;
}

.testimonial-author {
  text-align: center;
}

.testimonial-author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-author h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

.testimonial-author p {
  margin: 0;
  color: black;
}

.containeerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Optional: If you want to stack items vertically */
  padding: 20px 35px;
  background: linear-gradient(to left top, #fdbb06, #fffc53);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.containeerr h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousell {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousell::-webkit-scrollbar {
  display: none;
}

.carousell .no-transition {
  scroll-behavior: auto;
}

.carousell .dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousell .dragging .card {
  cursor: grab;
  user-select: none;
}

.carousell :where(.cardd, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousell .cardd {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousell .cardd .img {
  background: #fff453;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.cardd .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousell .cardd h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.carousell .cardd span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousell {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousell {
    grid-auto-columns: 100%;
  }
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  color: red;
  cursor: pointer;
  height: 15px;
  line-height: 15px;
}
*/ .popup .form h2 {
  text-align: center;
  color: #0f0f0f;
  margin: 10px 0px 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #f1c11a;
}

.popup .form p {
  text-align: center;
}

.popup .form .form-element {
  margin: 15px;
}

.popup .form .form-element label {
  margin: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #6d6d6d;
}

.popup .form .form-element input[type="text"] {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border-top: none;

  border-right: none;
}

.popup .form .form-element button {
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #ffe06e;
  color: #e3680a;
  border: none;
  height: 35px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.popup .form .form-element button:hover {
  align-items: center;
  text-align: center;
  background-color: #f9d34a;
  color: #e22d00;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px red;

  cursor: pointer;
}

.send-message-btn {
  margin-left: 36%;
}

/*for subscribe form in footer*/

/* 
.single_footer{}
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
} */
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: 18px;
}

.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  font-size: 20px;
  background: #fff;
  margin-top: 20px;
}

.single_footer p {
  color: #fff;
}

.single_footer_address {
  align-items: center;
}

.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}

.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 50px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 300px;
}

.subscribe__input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.subscribe__input:focus:-moz-placeholder {
  visibility: hidden;
}

.subscribe__input:focus::-moz-placeholder {
  visibility: hidden;
}

.subscribe__input:focus:-ms-input-placeholder {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #222222;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

.subscribe__btn i {
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #c8ba00;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.feed {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.head {
  color: black;
  font-size: 2rem;
  text-align: center;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="text"]:focus {
  outline: none;
  border-color: rgba(255, 201, 8, 0.5);
  box-shadow: 0 0 10px rgba(255, 201, 8, 0.5);
}
input[type="email"]:focus {
  outline: none;
  border-color: rgba(255, 201, 8, 0.5);
  box-shadow: 0 0 10px rgba(255, 201, 8, 0.5);
}
textarea:focus {
  outline: none;
  border-color: rgba(255, 201, 8, 0.5);
  box-shadow: 0 0 10px rgba(255, 201, 8, 0.5);
}
.feedback-label {
  font-weight: bold;
}
.feedback-description {
  margin-bottom: 10px;
  text-align: center;
}
.feedback-smileys {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
textarea {
  height: 100px;
  resize: vertical;
}
.message {
  padding: 10px;
}
.smiley-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  outline: none;
}
.smiley-btn:focus {
  outline: none;
}
.smiley-btn.active {
  box-shadow: 0 0 10px rgba(255, 201, 8, 0.5);
}
.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}
.submit-btn:hover {
  background-color: #45a049;
}
.rating {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse; /* Visually order the stars in reverse */
}

.rating input {
  display: none; /* Hide radio buttons */
}

.rating label {
  font-size: 2em;
  color: #ddd;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: #ffca08; /* Highlight selected star and all previous stars */
}

.rating label:hover,
.rating label:hover ~ label {
  color: #ffca08; /* Highlight hovered star and all previous stars */
}
.no-select {
  user-select: none;
}
body {
  user-select: none;
}
