/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

/* Body Styles */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  /* background-image: url(images/Slide1.jpg); 
  background-attachment: fixed;
  background-size: cover;  */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  padding: 100px;
  margin-bottom: 5%;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-title {
  margin-top: 50px;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.about-title::after {
  content: "";
  height: 4px;
  width: 0%;
  background-color: #ffcc00f1;
  display: block;
  transition: 0.5s ease-in-out;
}
.about-title:hover::after {
  content: "";
  height: 4px;
  width: 80%;
  background-color: #ffcc00f1;
  display: block;
}

.about-title1 {
  margin-top: 50px;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.about-title1::after {
  content: "";
  height: 4px;
  width: 0%;
  background-color: #fffffff1;
  display: block;
  transition: 0.5s ease-in-out;
}
.about-title1:hover::after {
  content: "";
  height: 4px;
  width: 80%;
  background-color: #fffffff1;
  display: block;
}

.intro-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
  background-color: #ffcc00f1;
}
.box {
  width: 525px;
  height: 220px;
  margin: 10%;
  background-color: #fffffff1;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.6s ease;
}
.box:hover {
  transform: scale(1.1) translateY(-20px);
  box-shadow: 0px 0px 6px 6px #e9ecef;
  background: linear-gradient(
    109.6deg,
    rgb(255, 219, 47) 11.2%,
    rgb(244, 253, 0) 100.2%
  );
}

.box h1 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  color: #0082e6;
}

.intro-content {
  text-align: justify;
  padding: 20px;
}

.intro-content p {
  font-size: 14px;
  color: black;
  font-weight: 400;
  line-height: 1.6;
}
