body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrolling */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/Slide1.jpg') no-repeat center center fixed; /* Ensure the background image covers the entire viewport */
  background-size: cover;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  background: rgba(178, 233, 217, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%; /* Ensure it doesn't exceed the viewport on smaller screens */
  text-align: center;
  /* border: 2.5px solid black; */
  
}

h1 {
  margin-bottom: 20px;
}

form {
  width: 100%;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#confirmationMessage {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
