@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/Slide2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px;
}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}
.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  transition: all 1s ease;
  z-index: 98;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #d8aa03;
  opacity: 0.5;
  z-index: 100;
}

.container #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
}

.container .cover .text {
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
}

.container form {
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form {
  width: calc(100% / 2 - 25px);
}

form .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
form .form-content .title:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #ffcc00f1;
}
form .signup-form .title:before {
  width: 20px;
}
form .form-content .input-boxes {
  margin-top: 30px;
}

form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #ffcc00f1;
}

.form-content .input-box i {
  position: absolute;
  color: #ffcc00f1;
  font-size: 17px;
}

form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

form .form-content .text a {
  text-decoration: none;
}
form .form-content .text a:hover {
  text-decoration: underline;
}

.form-content .button {
  color: #fff;
  margin-top: 40px;
}
form .form-content .button input {
  color: #fff;
  background: #ffcc00f1;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
form .form-content .button input:hover {
  background: #d8aa03;
  cursor: pointer;
}
form .form-content label:hover {
  color: #d8aa03;
  text-decoration: underline;
}

form .form-content .login-text,
form .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

.container #flip {
  display: none;
}
