#privacy-policy-container {
  width: 55%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-title {
  display: flex;
  align-items: center;
}
.logo {
  border-radius: 50%;
  height: 40px;
  width: 80px;
}
.logo-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.header {
  margin-top: 100px;
  text-align: center;
  background-color: #ffd700;
  font-size: large;
}

.title {
  font-size: 2em;
  color: #000000;
}

.main-content {
  padding: 20px;
  margin: 15px auto;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 22px;
  color: #000000;
  padding-bottom: 0px;
}

.section-content {
  font-size: 1em;
  color: #000000;
}

.section-list {
  list-style: none;
  color: #000000;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
  color: #000000;
  list-style: none;
  font-size: 1.1em;
}
